[Unit]
Description=Brithday API
After=network.target

[Service]
User=brithday-api
Group=brithday-api
WorkingDirectory=/opt/brithday-api
EnvironmentFile=/opt/brithday-api/.env
ExecStart=gunicorn --bind 0.0.0.0:5000 app:app
StandardOutput=file:/var/log/brithday-api.log
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target